page-card-modal {
  .back {
    height: 44px;
    padding-top: 22px;
  }

  ion-content {
    align-items: center;
    background-color: color($colors, gray) !important;
    display: flex;

    .card {
      border-radius: 10px;
      box-shadow: 2px 2px 10px 4px rgba(32, 33, 36, 0.28);
      height: 83%;

      .value {
        font-size: 100px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -80%);
      }
    }

    .card.shown {
      animation: flip 0.8s;
      animation-direction: alternate;
      transform: rotateY(180deg);
    }
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  };
}
