<ion-header>
  <ion-navbar color="primary" class="navbar">
    <ion-title>
      <ion-icon class="title-icon" name="md-albums"></ion-icon>
      <span class="title-text">Cards</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content-wrapper">
  <div class="cards-container">
    <div *ngIf="cards.length === 0" class="no-cards-message">
      You don't have any cards yet.
    </div>
    <div col-6 *ngFor="let card of cards" class="card-container">
      <ion-card class="card" (click)="showCard(card.value)" (press)="showCardOptionsMenu(card.value)">
        <ion-card-header class="card-value">
          {{card.value}}
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-fab bottom right>
  <button ion-fab color="primary" class="fab" (click)="showAddCardMenu()">
    <ion-icon name="md-add"></ion-icon>
  </button>
</ion-fab>
