<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Cards</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content-wrapper">
  <div class="cards-container">
    <div *ngIf="cards.length === 0" class="no-cards-message">
      You don't have any cards yet.
    </div>
    <div *ngFor="let card of cards" class="card-container" col-6>
      <ion-card class="card" (click)="showCard(card.value)" on-hold="showCardOptionsMenu(card.value)">
        <ion-card-header class="card-value">
          {{card.value}}
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-fab bottom right>
  <button ion-fab color="primary" (click)="showAddCardMenu()">+</button>
</ion-fab>
