page-home {
  .toolbar-background {
    background-color: color($colors, primary);
  }

  .toolbar-title {
    color: color($colors, white);
  }

  ion-content {
    background-color: color($colors, gray) !important;

    .cards-container {
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 15px;

      .no-cards-message {
        color: #afafaf;
        font-size: 20px;
        margin-top: 270px;
        text-align: center;
      }

      .card-container {
        display: inline-block;
        padding: 0;

        .card {
          background-color: color($colors, white);
          border-radius: 10px;
          box-shadow: 0px 2px 6px 1px rgba(32, 33, 36, 0.28);
          margin-top: 15px;
          margin-bottom: 0;

          .card-value {
            font-size: 30px;
            padding-top: 60px;
            padding-bottom: 60px;
            text-align: center;
          }
        }
      }
    }
  }

  .fab {
    box-shadow: 2px 2px 10px 4px rgba(32, 33, 36, 0.28);
  }
}
